APP_NAME = "MHTECH Consulting"
APP_EMAIL = contact@mhtechconsulting.com

SMTP_HOST_NAME = smtp.hostinger.com
SMTP_PASSWORD = VOTRE_MOT_DE_PASSE_EMAIL_HOSTINGER
ENCRYPTION_TYPE = ssl
SMTP_PORT = 465

ADMIN_NAME = "MHTECH Consulting"
ADMIN_EMAIL = contact@mhtechconsulting.com

# =====================================================
# Configuration locale WAMP
# =====================================================
DB_HOST = localhost
DB_NAME = mhtech_consulting
DB_USER = root
DB_PASSWORD =
